/data
/DevOps Отч. ЛР1 Федоськина.pdf
/DevOps Отч. ЛР2 Федоськина.pdf
/DevOps4.pdf
/DevOpsОтчет3 (1).pdf
/lab1 files
/lab2
/lab3
/lab6
/Лаб. 1. Docker.pptx
/Лаб. 2. Docker.pptx
/Лаб. 3. Docker.pptx
/Лаб. 4. Docker.pptx